@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.section-1, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.section-1 {
    height: 500px;
    flex-shrink: 0;
}   

.header-and-hero {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
} 

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li, .p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-image {
    background-color: #6d747e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1000px;
}

button {
    background: #3882F6;
    padding: 8px 35px;
    border-radius: 7px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

#sign-up-1 {
    border: none;
}

#sign-up-2 {
    border: 2px solid white;
}

.section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.s2-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    padding: 20px;
}

.s2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: 0 200px;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s2-text {
    color: gray;
    padding: 7px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 5px;
}

.section-3 {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 780px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
}

.quoted-by {
    display: flex;
    justify-content: end;
}

.section-4 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    color: white;
    height: 150px;
    width: 900px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.cta-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
}